<div class=" card">
    <h3 class="h3 text-center card-header">Noticias</h3>
    <div class="row card-body">
        <div *ngFor="let noticia of noticias" class="card text-center col-lg-6">
            <div class="card-header">
              <span class="h5">{{noticia.titulo}}</span>
            </div>
            <div class="card-body">
              <p class="card-text">{{noticia.descripcion}}</p>
            </div>
            <div class="card-footer text-muted">
              {{noticia.fecha|date}}
            </div>
          </div>
    </div>
</div>